body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   
  }
  
  form {
    text-align: center;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: black;
  }
  
  #characterId {
    width: 100%;
    max-width: 300px;
    padding: 10px;
  }
  
  #btn-go {
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  #btnReset {
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #btn-go:hover {
    background-color: #0056b3;
  }
  
  #btnReset:hover {
    background-color: #0056b3;
  }
  
  #result {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    
}
  
  #img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  #content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  #content a:hover {
    text-decoration: underline;
    color: #0056b3;
  }